@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

.navbar-brand{
  font-family: "Roboto", sans-serif;
}
.navbar-brand{
  letter-spacing: 0.0375rem;
  cursor: pointer;
  margin-top: -10px;
}
/* selam */
